body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #cedbff;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1,
h2 {
  color: #d30000;
}
header {
  text-align: center;
}
header h1 {
  margin: 10px 0;
}
nav a{
    font-weight: 700;
    text-decoration: none;
    color: #005aba;
}
nav a:hover{
    font-weight: 900;
    color: #00356e;
}
.contact {
  margin: 10px 0;
  font-size: 14px;
}
.contact a {
  color: #007bff;
  text-decoration: none;
}
.section {
  margin: 20px 0;
  padding: 0 2rem;
}
.section h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid #d30000;
  padding-bottom: 5px;
}
.item {
  margin-bottom: 15px;
}
.item h3 {
  margin: 0;
  font-size: 18px;
  color: #555;
}
.item p {
  margin: 5px 0;
  font-size: 14px;
}
.skills ul {
  list-style: none;
  padding: 0;
}
.skills ul li {
  display: inline-block;
  background: #d30000;
  color: #fff;
  padding: 7px 10px;
  margin: 3px 3px 3px 0;
  border-radius: 4px;
}

.project-image {
    margin: 5px auto;
    max-width: 200px;
    border-radius: 5%;
}


